{% extends "navs.html" %}
{% load staticfiles %}
{% load customTags %}
{% block title %}
    编辑任务
{% endblock %}
{% block cssLink %}
    <link href="{% static 'css/pretty-checkbox.min.css' %}" rel="stylesheet">
{% endblock %}
{% block css %}
    <style type="text/css">
        .textarea {
            resize: none;
            overflow-y: hidden;
        }

        .panel.noborder {
            border: none;
            box-shadow: none;
        }

        .panel.noborder > .panel-heading {
            border: 1px solid #dddddd;
            border-radius: 0;
        }

        table.borderless td, table.borderless th {
            border: none !important;
        }
    </style>
{% endblock %}
{% block mainbody %}
    {{ taskId }}
    {% if taskId %}
        <script src="{% static 'js/sweetalert.min.js' %}"></script>
        <script type="text/javascript">
            swal({
                text: "添加成功",
                icon: "success",
                buttons: {
                    "continue": "继续添加",
                    "run": {
                        text: "执行!",
                        value: "run"
                    },
                },
            })
                .then((value) => {
                    switch (value) {
                        case "run":
                            window.location.href = '{% url "task:tasks" %}'
                    }
                });
        </script>
    {% endif %}



    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">创建任务</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="alert alert-info alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        编辑任务页面！
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default noborder ">
                <div class="panel-body ">
                    <form role="form" action="{% url 'task:newTask' %}" method="post">
                        {% csrf_token %}
                        <div class="col-lg-4">
                            <div class="row">
                                <label for="products">请选择产品</label>

                                <div class="row form-group">
                                    <div class="col-lg-8">
                                        <select class="form-control" id="products" name="products">
                                            {% for product in products %}
                                                {% if product.id == current_task.product %}
                                                    <option value="{{ product|value:"id" }}">{{ product|value:"name" }}</option>
                                                {% else %}
                                                    <option value="{{ product|value:"id" }}">{{ product|value:"name" }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-lg-4">
                                        <label style="color: red;margin-top: 6px">*</label>
                                    </div>
                                </div>
                                <label for="suits">请选择需要执行的测试套件</label>
                                <div class="form-group" id="suitesCheckboxes">
                                </div>
                                <label for="taskTitle">任务名</label>
                                <div class="row form-group">
                                    <div class="col-lg-8">
                                        <input type="text" name="taskTitle" id="taskTitle" class="form-control"
                                               placeholder="请输入任务名称!" value="{{ current_task.title }}">
                                    </div>
                                    <div class="col-lg-4">
                                        <label style="color: red;margin-top: 6px">*</label>
                                    </div>
                                </div>
                                <label for="taskDesc">任务说明</label>
                                <div class="row form-group">
                                    <div class="col-lg-12">
                                        <input type="text" name="taskTitle" id="taskTitle" class="form-control"
                                               style="height: 80px"
                                               placeholder="请输入任务说明!" value="{{ current_task.desc }}">
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-default">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /.col-lg-4 -->

{% endblock %}

{% block scriptLinks %}
    <script src="{% static 'js/jsrender.min.js' %}"></script>
    <script src="{% static 'js/sweetalert.min.js' %}"></script>
{% endblock %}
{% block script %}
    <script id="suitOption" type="text/x-jsrender">
<div class="form-check abc-checkbox abc-checkbox-primary">
<input class="form-check-input" id="suits" name="suits" type="checkbox" value="<%:id%>">
<label class="form-check-label" for="suits">
<%:title%>
 </label>
</div>











    </script>
    <script type="text/javascript">
        {#    请求产品的套件列表#}

        function requestSuites(productId) {
            $.ajax({
                url: "{% url "product:suitesOfProduct" %}",
                type: "post",
                data: {'product_id': productId, csrfmiddlewaretoken: '{{ csrf_token }}'},
                dataType: "json",
                success: function (data) {
                    console.log(data);
                    let suitOptionTemplate = $.templates("#suitOption");
                    let suitOption = suitOptionTemplate(data["suite_info"]);
                    $("#suitesCheckboxes").html(suitOption)
                }
            })
        }

        $(document).ready(function () {
            $.views.settings.delimiters("<%", "%>");
            requestSuites($("#products").val());
            {#为产品的下拉列表添加点击事件#}
            $("#products").change(function () {
                requestSuites($(this).val());
            });

            {#            为执行按钮添加点击事件#}
        })

    </script>
{% endblock %}

