{% extends "navs.html" %}
{% load staticfiles %}
{% load customTags %}
{% block title %}
    创建任务
{% endblock %}
{% block cssLink %}
    <link href="{% static 'css/pretty-checkbox.min.css' %}" rel="stylesheet">
{% endblock %}
{% block css %}
    <style type="text/css">
        .textarea {
            resize: none;
            overflow-y: hidden;
        }

        .panel.noborder {
            border: none;
            box-shadow: none;
        }

        .panel.noborder > .panel-heading {
            border: 1px solid #dddddd;
            border-radius: 0;
        }

        table.borderless td, table.borderless th {
            border: none !important;
        }
    </style>
{% endblock %}
{% block mainbody %}
    {{ taskId }}
    {% if taskId %}
        <script src="{% static 'js/sweetalert.min.js' %}"></script>
        <script type="text/javascript">
            swal({
                text: "添加成功",
                icon: "success",
                buttons: {
                    "continue": "继续添加",
                    "run": {
                        text: "执行!",
                        value: "run"
                    },
                },
            })
                .then((value) => {
                    switch (value) {
                        case "run":
                            window.location.href = '{% url "task:tasks" %}'
                    }
                });
        </script>
    {% endif %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">创建任务</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="alert alert-info alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        请按照顺序创建任务！
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form role="form" action="{% url 'task:newTask' %}" method="post" data-toggle="validator"
                          id="formNewTask">
                        {% csrf_token %}
                        <div class="col-lg-4">
                            <div class="row">
                                <label for="products">请选择产品</label>
                                <div class="row form-group">
                                    <div class="col-lg-8">
                                        <select class="form-control" id="products" name="products">
                                            {% for product in products %}
                                                <option value="{{ product|value:"id" }}">{{ product|value:"name" }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-lg-4">
                                        <label style="color: red;margin-top: 6px">*</label>
                                    </div>
                                </div>
                                <label>请选择需要执行的测试套件</label>
                                <div class="form-group">
                                    <fieldset id="suitesCheckboxes">

                                    </fieldset>
                                </div>
                                <label for="taskTitle">任务名</label>
                                <div class="row form-group">
                                    <div class="col-lg-8">
                                        <input type="text" name="taskTitle" id="taskTitle" class="form-control"
                                               placeholder="请输入任务名称!" required maxlength="20">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="col-lg-4">
                                        <label style="color: red;margin-top: 6px">*</label>
                                    </div>
                                </div>
                                <label for="taskDesc">任务说明</label>
                                <div class="row form-group">
                                    <div class="col-lg-12">
                                        <input type="text" name="taskDesc" id="taskDesc" class="form-control"
                                               style="height: 80px"
                                               placeholder="请输入任务名称!">
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-default">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /.col-lg-4 -->

{% endblock %}

{% block scriptLinks %}
    <script src="{% static 'js/jsrender.min.js' %}"></script>
    <script src="{% static 'js/sweetalert.min.js' %}"></script>
    <script src="{% static 'js/validator.js' %}"></script>
{% endblock %}
{% block script %}
    <script id="suitOption" type="text/x-jsrender">
<div class="row" style="margin-left:30px;margin-top:10px">
    <div class="pretty p-default">
          <input type="checkbox" name="suites"  id ="suites" value="<%:id%>" required/>
              <div class="state p-primary">
                     <label><%:title%></label>
                        </div>
                        </div>
                        </div>






















    </script>
    <script type="text/javascript">
        {#    请求产品的套件列表#}

        function requestSuites(productId) {
            $.ajax({
                url: "{% url "product:suitesOfProduct" %}",
                type: "post",
                data: {'product_id': productId, csrfmiddlewaretoken: '{{ csrf_token }}'},
                dataType: "json",
                success: function (data) {
                    console.log(data);
                    let suitOptionTemplate = $.templates("#suitOption");
                    let suitOption = suitOptionTemplate(data["suite_info"]);
                    $("#suitesCheckboxes").html(suitOption);
                }
            })
        }

        function verityTaskName() {
            let task_name = $("#taskTitle").val();
            let product_id = $("#products").val();
            $.ajax({
                    url: "{% url 'task:verifyTaskName' %}",
                    method: "post",
                    data: {'product_id': product_id, csrfmiddlewaretoken: '{{ csrf_token }}', "task_name": task_name},
                    dataType: "json",
                    success: function (data) {
                        console.log(data);
                        if (data["res"] === true) {
                            swal("当前任务名已存在，请重新输入!");
                            $("#taskTitle").val('');
                        }

                    }
                }
            )
        }

        $(document).ready(function () {
            $.views.settings.delimiters("<%", "%>");
            requestSuites($("#products").val());
            {#为产品的下拉列表添加点击事件#}
            $("#products").change(function () {
                    requestSuites($(this).val());
                }
            );

            {# 任务名称是否重复检测#}
            $("#taskTitle").change(function () {
                verityTaskName();
            });

            {#       为checkbox 添加事件#}

            let checkboxFiledSet = $("#suitesCheckboxes");
            checkboxFiledSet.on("change", ":checkbox", function () {
                    var requiredCheckboxes = $(':checkbox');
                    if ($(this).is(':checked')) {
                        requiredCheckboxes.removeAttr('required');
                    }
                    else {
                        requiredCheckboxes.attr('required', 'required');
                    }
                $("form").validator("update").validator("validate");
                }
            );
        });
    </script>
{% endblock %}
