{% extends "navs.html" %}
{% load staticfiles %}
{% load customTags %}
{% block title %}
    创建任务
{% endblock %}
{% block cssLink %}
    <link href="{% static 'css/datatable/dataTables.responsive.css' %}" rel="stylesheet">
    <link href="{% static 'css/datatable/dataTables.bootstrap.min.css' %}" rel="stylesheet">
{% endblock %}
{% block css %}
    <style type="text/css">
        .textarea {
            resize: none;
            overflow-y: hidden;
        }

        .panel.noborder {
            border: none;
            box-shadow: none;
        }

        .panel.noborder > .panel-heading {
            border: 1px solid #dddddd;
            border-radius: 0;
        }

        table.borderless td, table.borderless th {
            border: none !important;
        }

        td {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            text-align: left;
        }


    </style>
{% endblock %}
{% block mainbody %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">执行</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">

        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="fa fa-play"></span>
                    {{ task.title }}
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <!-- 执行区块 -->
                    <div class="row col-lg-12">
                        <div class="row col-lg-12">
                            <div class="form-group">
                                <label>日志等级</label>
                                <label class="radio-inline">
                                    <input type="radio" name="verbosity" id="verbosity"
                                           value="option1">0
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="verbosity" id="verbosity"
                                           value="option2">1
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="verbosity" id="verbosity"
                                           value="option3" checked>2
                                </label>
                            </div>
                            <label>启用快速测试</label>
                            <label class="radio-inline">
                                <input type="radio" name="radioFailfast" id="radioFailfast"
                                       value="option1">是
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="radioFailfast" id="radioFailfast"
                                       value="option2" checked>否
                            </label>

                        </div>

                        <div class="row col-lg-12">
                            <button id="btnRunTask" class="btn btn-success "><span class="fa fa-play"
                                                                                   id="spanRunTask">执行</span>
                            </button>
                            <span>执行时间较长，请耐心等候！</span>
                        </div>

                        {#                        进度展示行#}

                        <div class="row col-lg-12" style="display: none">
                            <div class="progress progress-striped active" style="margin-top: 5px;">
                                <div class="progress-bar progress-striped" role="progressbar" aria-valuenow="40"
                                     aria-valuemin="0"
                                     aria-valuemax="100" style="width: 10%">
                                    <span>1/16</span>
                                </div>
                            </div>

                        </div>

                        <hr/>
                    </div>
                    <!-- /.panel -->
                </div>
            </div>
            <div class="panel panel-default">

                <div class="panel-heading">
                    <span>历史记录</span>
                </div>

                <div class="panel-body">
                    <table class="table table-hover table-striped" style="table-layout:fixed" id="tableHistories">
                        <thead>
                        <tr>
                            <th class="col-lg-1">编号</th>
                            <th class="col-lg-2">名称</th>
                            <th class="col-lg-1">执行者</th>
                            <th class="col-lg-2">结果</th>
                            <th class="col-lg-2">报告</th>
                            <th class="col-lg-2">日志</th>
                            <th class="col-lg-2">时间</th>
                        </tr>
                        </thead>

                        {% for run_history in run_histories %}

                            <tr>
                                <td title="{{ run_history.id }}">{{ run_history.id }}</td>
                                <td title="{{ run_history.task_title }}">{{ run_history.task_title }}</td>
                                <td>{{ run_history.run_user }}</td>
                                <td>
                                    {% if run_history.result_status == "成功" %}
                                        <span class="label label-success">{{ run_history.result_status }}</span>
                                    {% elif run_history.result_status == "部分成功" %}
                                        <span class="label label-warning">{{ run_history.result_status }}</span>
                                    {% elif run_history.result_status == "全部失败" %}
                                        <span class="label label-danger">{{ run_history.result_status }}</span>
                                    {% elif run_history.result_status == "无效" %}
                                        <span class="label label-default">{{ run_history.result_status }}</span>
                                    {% endif %}
                                </td>

                                <td title="{{ run_history.report_title }}">
                                    <a href="{% url 'task:showReport' run_history.report_title %}">{{ run_history.report_title }}</a>
                                </td>
                                <td title="{{ run_history.log_title }}">{{ run_history.log_title }}</td>
                                <td title="{{ run_history.run_time|date:"Y-m-d H:i" }}">{{ run_history.run_time|date:"Y-m-d H:i" }}</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td>
                                    无任何记录
                                </td>
                            </tr>

                        {% endfor %}


                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default noborder">
                <div class="panel-heading">
                    <span>任务队列</span>
                </div>
                <div class="panel-body">

                    {% if task_queue|length != 0 %}
                        <table class="table">
                            <tr>
                                <th>
                                    名称
                                </th>
                                <th>
                                    状态
                                </th>
                            </tr>
                            {% for task in task_queue %}
                                <TR>
                                    <td>
                                        {{ task.task_title }}
                                    </td>
                                    <td>
                                        {{ task.state }}
                                    </td>
                                </TR>
                            {% endfor %}
                        </table>
                    {% else %}
                        <span>当前无任何任务！</span>
                    {% endif %}
                    <button class="btn btn-success col-lg-12">添加任务</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scriptLinks %}
    <script src="{% static 'js/sweetalert.min.js' %}"></script>
    <script src="{% static 'js/datatable/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/datatable/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'js/datatable/dataTables.responsive.js' %}"></script>
{% endblock %}
{% block script %}
    <script type="text/javascript">

        function handleAjax(verbosity, failfast) {
            {#处理ajax的请求#}

            $.ajax({
                    url: '{% url "task:runTask" %}',
                    method: "post",
                    data: {
                        'verbosity': verbosity,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        'failfast': failfast,
                        'task_id': '{{task.id }}',
                    },
                dataType: "json",
                    success: function (data) {
                        if (data["result_code"] === 1) {
                            $("#spanRunTask").html("执行中");
                            swal("", "已添加到任务队列！", "success")
                        }
                        else {
                            swal(data["result_reason"]);
                            $("#btnRunTask").removeAttr("disabled");
                        }

                    }
                }
            )
        }


        $(document).ready(function () {

            $("#tableHistories").DataTable({
                responsive: true,
                language: {
                    "sProcessing": "处理中...",
                    "sLengthMenu": "显示 _MENU_ 项结果",
                    "sZeroRecords": "没有匹配结果",
                    "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                    "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                    "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                    "sInfoPostFix": "",
                    "sSearch": "搜索:",
                    "sUrl": "",
                    "sEmptyTable": "表中数据为空",
                    "sLoadingRecords": "载入中...",
                    "sInfoThousands": ",",
                    "oPaginate": {
                        "sFirst": "首页",
                        "sPrevious": "上页",
                        "sNext": "下页",
                        "sLast": "末页"
                    },
                    "oAria": {
                        "sSortAscending": ": 以升序排列此列",
                        "sSortDescending": ": 以降序排列此列"
                    }
                }


            });


            {#            为执行按钮添加点击事件#}
            $("#btnRunTask").click(function () {
                $(this).attr("disabled", "disabled");
                {# 获取各个设置项的值#}
                let verbosity = $("input[name='verbosity']:checked").val();
                let failfast = $("input[name='radioFailfast']:checked").val();
                handleAjax(verbosity, failfast)
            })
        });


    </script>
{% endblock %}

