{% extends "navs.html" %}
{% load staticfiles %}
{% load customTags %}
{% block title %}
    创建任务
{% endblock %}
{% block css %}
    <style type="text/css">
        .textarea {
            resize: none;
            overflow-y: hidden;
        }

        .panel.noborder {
            border: none;
            box-shadow: none;
        }

        .panel.noborder > .panel-heading {
            border: 1px solid #dddddd;
            border-radius: 0;
        }

        table.borderless td, table.borderless th {
            border: none !important;
        }
    </style>
{% endblock %}
{% block mainbody %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">执行</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">

        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="fa fa-play"></span>
                    {{ task.title }}
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <!-- 执行区块 -->
                    <div class="row col-lg-12">
                        <span>执行时间较长，请耐心等候！</span>
                        <div class="progress progress-striped active" style="margin-top: 5px;">
                            <div class="progress-bar progress-striped" role="progressbar" aria-valuenow="40"
                                 aria-valuemin="0"
                                 aria-valuemax="100" style="width: 10%">
                                <span>40%</span>
                            </div>
                        </div>
                        <hr/>
                    </div>
                    <div class="row col-lg-12">
								<textarea class="form-control textarea" style="width: 100%;height: 500px;"
                                          id="taskOutput">
                                    此为详细的测试输出
                                </textarea>
                    </div>
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-6 -->
        </div>
    </div>

{% endblock %}

{% block scriptLinks %}
    <script src="{% static 'js/jsrender.min.js' %}"></script>
    <script src="{% static 'js/sweetalert.min.js' %}"></script>
{% endblock %}
{% block script %}
    <script type="text/javascript">


    </script>
{% endblock %}

